<% include ../partials/head.ejs %>



        <form class="col s6 offset-s3" action="/auth/login" method="post">
          <div class='buttonholder'>
            <label class="black-text">Username:</label>
            <input type="text" name="username"/>
          </div>
          <div class='buttonholder'>
            <label class="black-text">Password:</label>
            <input type="password" name="password"/>
          </div>
          <div class='buttonholder'>

            <button id="form-font" class="form waves-effect waves-light btn black" type="submit" value="Log In">Log In</button>

          </div>
        </form>


  </body>
</html>
