<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
  <link href='/stylesheets/style.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title> SkyCast </title>
</head>
  <body>
  <a href='user'><h1>SkyCast</h1></a>
