<% include ./partials/head.ejs %>

    <main class='splash'>

        <p><a href="/auth/register">click here to register</a></p>
        <p><a href="/auth/login">click here to log in</a></p>

    </main>
  </body>
</html>

  </body>
</html>
