<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h3>On <%= time %>, <%= town %> was:</h3>
  <h3><%= weather.temperature %>, <%= weather.summary %></h3>
  <a href='/user'>back</a>

</body>
</html>
